/* CSS general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
.header-custom {
    background-color: rgb(187, 245, 184);
    padding: 0px 0;
}

.navbar {
    background-color: rgb(187, 245, 184);
}
.nav-item {
    font-weight: bold;
    margin: 0px 5px;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.container-fluid {
    position: relative;
    padding: 0;
    min-height: 900px;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.card {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Opciones de servicio */
.option input[type="radio"] {
    display: none;
}

.option label {
    border: 2px solid rgb(43, 148, 37);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    font-weight: normal;
    transition: background-color 0.3s ease;
}

.option input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.option label:hover {
    background-color: rgba(0, 255, 0, 0.2); /* Color verde suave */
}

.option {
    margin-right: 7px;
}

.service-selection {
    background-color: rgb(187, 245, 184);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 12px;
}

/* .containerf {
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
} */

.containere {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: rgba(255, 255, 255);
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}
.containert{
    text-align: center;
    margin: 0 auto;
    width: 750px;
    padding-top: 140px;
    font-family: 'Playwrite CU', cursive;
    font-weight: bold;
    font-size: 40px;
}
.containersub{
    text-align: center;
    margin: 0 auto;
    width: 750px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
}
/* Footer */
footer {
    position: relative;
    z-index: 1;
    background-color: #198754;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    color: white !important;
    font-weight: bold !important;
}

/* Específicos de la imagen de fondo y contenedor */

/* Ajustes para iconos */
.option label i {
    margin-right: 10px;
}

.op {
    font-size: 11px;
    font-weight: bold;
    padding: 0;
}
.buton {
    height: 100%;
    background-color: rgb(43, 148, 37);
    border: 2px solid rgb(43, 148, 37);
    border-radius: 45px;
    color: white;
    font-weight: bold;
    width: 100%;
} 
.buton:hover {
    background-color: rgb(187, 245, 184);
    transition: 0.2s;
    color: rgb(43, 148, 37);
}
.imgc {
    width: 10%;
}
.service {
    gap: 90px;
}
.li {
    color: #198754;
    font-size: 40px;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
}
.se {
    width: 45%;
}
.service div div i {
    color:#198754;
}
.butonb {
    height: 100%;
    background-color: #198754;
    border: 2px solid #198754;
    border-radius: 45px;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
} 
.butonb:hover {
    background-color: rgb(187, 245, 184);
    transition: 0.2s;
    color: rgb(43, 148, 37);
}
.vui{
    background-color: rgb(220, 243, 219);
    border-radius: 10px;
    border: 2px solid #198754;
}

.f {
    color: #6c757d;
}





.testimonial-container {
    display: flex;
    gap: 20px;
    align-items: top;
    height: 100%;
}
.testimonial {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    position: relative;
}
.testimonial img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.testimonial p {
    font-size: 14px;
    line-height: 1.6;
    margin: 15px 0 0 0;
}
.testimonial .name {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}
.hr {
    border: #198754 1px solid;
}